* {
    box-sizing: border-box;
}

button {
    margin-bottom: 20px;
}

.container {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.container div {
    border: 1px solid black;
    aspect-ratio: 1;
}

