* {
    box-sizing: border-box;
}

button {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
}

.container div {
    border: 1px solid black;
    height: 30px;
}

